$medium-border: 12px;
$small-border: 8px;
$extra-small-border: 4px;
$more-padding: 20px;
$padding: 16px;
$less-padding: 12px;
$half-padding: calc($padding / 2);
$headline-large-font-size: 24px;
$headline-large-line-height: 32px;
$headline-xl-font-size: 32px;
$headline-xl-line-height: 40px;
$title-xxl-font-size: 22px;
$title-xxl-line-height: 28px;
$title-xl-font-size: 20px;
$title-xl-line-height: 28px;
$title-large-font-size: 16px;
$title-large-line-height: 22px;
$title-small-font-size: 14px;
$title-small-line-height: 20px;
$title-small-font-weight: 600;
$label-large-font-size: 14px;
$body-medium-font-size: 14px;
$body-medium-line-height: 20px;
$font-weight: 400;
$surface-light: #FFFBFE;
$on-surface-light: #1C1B1F;
$outline-light: #79747E;
$surface-variant: #E7E0EC;
$surface-variant-low: #D0C9D4;
$surface-container-high: #F5F0F4;
$surface-container-highest-light: #EBE6EA;
$on-surface-variant-light: #49454F;
$surface-container-light: #F5F0F4;
$color-primary-light: #006973;
$color-on-primary-light: #ffffff;
$color-primary-container-light: #95f1ff;
$color-on-primary-container-light: #001f24;
$color-secondary-light: #4a6267;
$color-on-secondary-light: #ffffff;
$color-secondary-container-light: #cde7ec;
$color-on-secondary-container-light: #051f23;
$color-tertiary-light: #984060;
$color-on-tertiary-light: #ffffff;
$color-tertiary-container-light: #ffd9e2;
$color-on-tertiary-container-light: #3e001d;
$color-error-light: #ba1a1a;
$color-error-container-light: #ffdad6;
$color-on-error-light: #ffffff;
$color-on-error-container-light: #410002;
$touch-element-size: 48px;