@import '../../variables';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
}

.box {
    width: auto;
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 200px);
    padding: 0;
}

  .centralAlign {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .setters {
    gap: 30px;
    flex-direction: row;
  }

  .setter-box {
    background-color: $surface-container-light;
    padding: $padding;
    padding-bottom: 4px;
  }
  
  .horizontalSetter {
    display: flex;
    flex-direction: row;
    gap: $more-padding;
    align-items: center;
    justify-content: center;
  }

  .space-h-p {
    margin-top: 0.2rem;
  }
  
  .space-up {
    margin-top: calc($padding * 2);
  }

  .timer-box {
    background-color: $surface-container-light;
    padding: calc($less-padding* 2);
    .space-h-p {
        margin-top: 0.8rem;
      }
  }
  
  .label {
    margin: 0;
  }
  
  button {
    background-color: transparent;
    border: none;
    transition-duration: 0.6s;
    height: $touch-element-size;
    width: $touch-element-size;
  }
  
  h1, h2, h3 {
    font-weight: $font-weight;
    margin: 0;
  }

  .hint {
    gap: 0.5rem;
    align-items: self-end;
    padding: $padding;
    border-radius: $small-border;
    background-color: $color-primary-container-light;
    color: $color-on-primary-container-light;
    margin: 0;
    margin-top: $half-padding;

    p {
        margin: 0;
        padding-bottom: 1px;
    }
  }